* {
    padding: 0;
    margin: 0;
    font-family: tahoma, arial;
	
}

header {
    background: url('beskid.jpg') center;
    background-size: cover;
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
   }
 #slider{

 }	 


#menu
{

	font-size: 18px;
	color: #ffffff;

	text-align: center;
	
}
#description
{

	margin: 5px;
	color: white;
	text-align: center;
	font-size: 12px;
	

}
#wp
{ 
position: absolute;
margin-left: 400px;
margin-top: 400px;

cursor: pointer;
}
#wl
{ position: absolute;
margin-top: 400px;
margin-left: 100px;
cursor: pointer;
}

